generator client {
  provider = "prisma-client-js"
}

datasource db {
  provider = "postgresql"
  url      = env("DATABASE_URL")
}

model User {
  id          String   @id @default(uuid())
  username    String   @unique
  email       String   @unique
  password    String
  role        Role     @default(STUDENT)
  status      Status   @default(PENDING)
  displayName String?
  createdAt   DateTime @default(now())
}

enum Role {
  STUDENT
  TEACHER
  ADMIN
}

enum Status {
  PENDING
  APPROVED
  REJECTED
}

model Quiz {
  id            String   @id @default(cuid())
  unit          String
  question      String
  options       String[]
  answer        Int
  explanationEn String
  explanationZh String
}

model KnowledgeTopic {
  id          String   @id @default(cuid())
  unit        String
  titleEn     String
  titleZh     String
  summaryEn   String
  summaryZh   String
  keyPointsEn String[]
  keyPointsZh String[]
  source      String?
  imageUrl    String?
}

model Glossary {
  id       String  @id @default(cuid())
  word     String
  phonetic String?
  meaning  String
  unit     String
  example  String?
}

model Major {
  id            String   @id @default(cuid())
  nameEn        String
  nameZh        String
  level         String
  descriptionEn String
  descriptionZh String
  courses       String[]
  suitableEn    String?
  suitableZh    String?
  careerEn      String?
  careerZh      String?
  schools       String?
}
